<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="ced_houzz_shipment" instance="Ced\Houzz\Observer\Shipment"/>
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="ced_houzz_shipment_resource" instance="Ced\Houzz\Observer\Shipment"/>
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="ced_houzz_order_place_after" instance="Ced\Houzz\Observer\Orderplace"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="houzz_creditmemo_after" instance="Ced\Houzz\Observer\CreditmemoAfter"/>
    </event>
    <!-- <event name="sales_order_item_cancel">
        <observer name="inventory" instance="Ced\Houzz\Observer\CancelOrderItemObserver"/>
    </event> -->
</config>
