<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Unirgy\Dropship\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">udropship</argument>
        </arguments>
    </virtualType>
    <type name="Unirgy\Dropship\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Unirgy\Dropship\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Unirgy\Dropship\Controller\Vendor\ExistingLabelBatch">
        <arguments>
            <argument name="session" xsi:type="object">Unirgy\Dropship\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Unirgy\Dropship\Controller\Vendor\ShipmentPost">
        <arguments>
            <argument name="session" xsi:type="object">Unirgy\Dropship\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Unirgy\Dropship\Controller\Vendor\ProductSave">
        <arguments>
            <argument name="session" xsi:type="object">Unirgy\Dropship\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Unirgy\Dropship\Model\ProductImage">
        <arguments>
            <argument name="catalogProductMediaConfig" xsi:type="object">Unirgy\Dropship\Model\VendorImageMediaConfig</argument>
            <argument name="assetImageFactory" xsi:type="object">Unirgy\Dropship\Model\VendorAssetImageFactory</argument>
            <argument name="viewAssetImageFactory" xsi:type="object">Unirgy\Dropship\Model\VendorAssetImageFactory</argument>
        </arguments>
    </type>
    <type name="Unirgy\Dropship\Model\VendorAssetImage">
        <arguments>
            <argument name="mediaConfig" xsi:type="object">Unirgy\Dropship\Model\VendorImageMediaConfig</argument>
        </arguments>
    </type>
    <type name="Magento\CatalogInventory\Model\ResourceModel\Indexer\Stock\QueryProcessorComposite">
        <arguments>
            <argument name="queryProcessors" xsi:type="array">
                <item name="udQueryProcessor" xsi:type="object">Unirgy\Dropship\Model\ResourceModel\StockStatus\QueryProcessor</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="UdropshipShippingGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Unirgy\Dropship\Model\ResourceModel\Shipping\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">UdropshipShippingFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="UdropshipShippingFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Unirgy\Dropship\Model\Stock\Availability">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="h" xsi:type="object">Unirgy\Dropship\Helper\Data</item>
                <item name="i" xsi:type="object">Unirgy\Dropship\Helper\Item</item>
                <item name="b" xsi:type="object">Unirgy\Dropship\Model\Label\Batch</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Action">
        <plugin name="reindexProductVendorAssoc" type="Unirgy\Dropship\Plugin\CatalogProductAction" />
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="splitOrderToPos" type="Unirgy\Dropship\Plugin\SalesOrderSave" />
    </type>
    <type name="Magento\Framework\Api\DataObjectHelper">
        <plugin name="forcedUdropshipDataCopy" type="Unirgy\Dropship\Plugin\DataObjectHelper" />
    </type>
    <type name="Magento\Framework\App\Http">
        <plugin name="initConfigRewrite" type="Unirgy\Dropship\Plugin\AppHttp" />
    </type>
    <type name="Magento\Framework\App\Cron">
        <plugin name="initConfigRewrite" type="Unirgy\Dropship\Plugin\AppCron" />
    </type>
    <type name="Magento\Indexer\App\Indexer">
        <plugin name="initConfigRewrite" type="Unirgy\Dropship\Plugin\AppIndexer" />
    </type>
    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="fixGetComments" type="Unirgy\Dropship\Plugin\OrderShipment" />
    </type>
    <type name="Magento\Framework\App\Config">
        <plugin name="modifiedGetConfigValue" type="Unirgy\Dropship\Plugin\Config" />
    </type>
    <type name="Magento\Framework\App\Config\ScopeConfigInterface">
        <plugin name="modifiedGetConfigValue" type="Unirgy\Dropship\Plugin\Config" />
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Collection">
        <plugin name="udUnserializeFields" type="Unirgy\Dropship\Plugin\OrderShipmentCollection" />
    </type>
    <type name="Magento\Catalog\Model\Indexer\Product\Flat\State">
        <plugin name="udprodProductFlatState" type="Unirgy\Dropship\Plugin\ProductFlatState" />
    </type>
    <type name="Magento\Catalog\Model\Indexer\Category\Flat\State">
        <plugin name="udprodCategoryFlatState" type="Unirgy\Dropship\Plugin\CategoryFlatState" />
    </type>
    <type name="Magento\Shipping\Model\Carrier\AbstractCarrierInterface">
        <plugin name="udShippingCarrierAbstract" type="Unirgy\Dropship\Plugin\ShippingCarrierAbstract" />
    </type>
    <type name="Magento\CatalogInventory\Api\Data\StockItemInterface">
        <plugin name="udInventoryApiStockItem" type="Unirgy\Dropship\Plugin\StockItem" />
    </type>
    <type name="Magento\CatalogInventory\Model\Spi\StockStateProviderInterface">
        <plugin name="udInventorySpiStockStateProvider" type="Unirgy\Dropship\Plugin\StockStateProvider" />
    </type>
    <type name="Magento\CatalogInventory\Model\StockManagement">
        <plugin name="udInventoryStockManagement" type="Unirgy\Dropship\Plugin\StockManagement" />
    </type>
    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <plugin name="udMailTransportBuilder" type="Unirgy\Dropship\Plugin\MailTransportBuilder" />
    </type>
    <type name="Magento\Email\Model\Template">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\EmailTemplate" />
    </type>
    <type name="Magento\Catalog\Block\Adminhtml\Category\Tree">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\CategoryTree" />
    </type>
    <virtualType name="ShipmentGridAggregator" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="base_discount_amount" xsi:type="string">sales_shipment.base_discount_amount</item>
                <item name="udropship_payout_status" xsi:type="string">sales_shipment.udropship_payout_status</item>
                <item name="statement_id" xsi:type="string">sales_shipment.statement_id</item>
                <item name="statement_date" xsi:type="string">sales_shipment.statement_date</item>
                <item name="udropship_vendor" xsi:type="string">sales_shipment.udropship_vendor</item>
                <item name="udropship_status" xsi:type="string">sales_shipment.udropship_status</item>
                <item name="base_shipping_amount" xsi:type="string">sales_shipment.base_shipping_amount</item>
                <item name="shipping_amount" xsi:type="string">sales_shipment.shipping_amount</item>
                <item name="udropship_method" xsi:type="string">sales_shipment.udropship_method</item>
                <item name="udropship_method_description" xsi:type="string">sales_shipment.udropship_method_description</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Magento\CatalogInventory\Observer\ProductQty" type="Unirgy\Dropship\Model\InventoryObserverProductQty" />
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="udropship_vendor" xsi:type="string">/udropship/vendor/</item>
            </argument>
        </arguments>
    </type>
    <preference for="Unirgy\Dropship\Model\VendorAsAdminInterface"
                type="Unirgy\Dropship\Model\VendorAsAdmin" />
    <type name="Magento\Cms\Model\Wysiwyg\CompositeConfigProvider">
        <arguments>
            <argument name="variablePluginConfigProvider" xsi:type="array">
                <item name="default" xsi:type="string">Magento\Variable\Model\Variable\ConfigProvider</item>
            </argument>
            <argument name="widgetPluginConfigProvider" xsi:type="array">
                <item name="default" xsi:type="string">Magento\Widget\Model\Widget\Config</item>
            </argument>
            <argument name="wysiwygConfigPostProcessor" xsi:type="array">
                <item name="default" xsi:type="string">Magento\Cms\Model\Wysiwyg\DefaultConfigProvider</item>
            </argument>
            <argument name="galleryConfigProvider" xsi:type="array">
                <item name="default" xsi:type="string">Magento\Cms\Model\Wysiwyg\Gallery\DefaultConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <plugin name="initConfigRewrite" type="Unirgy\Dropship\Plugin\AppCli" />
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="udropshiplabelbatch" xsi:type="object">Unirgy\Dropship\Console\Command\LabelBatch</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\QuoteRepositoryPlugin" />
    </type>
    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\AttributeAdapter">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\ElasticProductAttributeAdapter" />
    </type>
    <type name="Magento\Catalog\Model\ResourceModel\Product\Attribute\Collection">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\ProductAttributeCollection" />
    </type>
</config>
