.admin__old #row_aw_rewardpoints_calculation_earn_rates input[type=text], .admin__old #row_aw_rewardpoints_calculation_spend_rates input[type=text] {
	box-sizing: border-box;
    border: 1px solid #adadad;
    border-radius: 1px;
    padding: .6rem 1rem .6rem;
    color: #303030;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    height: 34px;
	width: 60px;
}
