<!--@subject Vendor password reset instructions from {{var store_name}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td valign="top">
            <p><strong>Dear {{var vendor_name}},</strong></p>

            <p>This email was sent to you because you have requested a password reset.</p>

            <p>If you have not requested a password reset, you can ignore this email.</p>

            <p>Go to this link to reset your password:</p>

            <p><a href="{{var url}}">{{var url}}</a></p>

            <p>Best regards,<br/><a href="{{store url=''}}">{{var store_name}}</a></p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}

