<?xml version="1.0"?>
<!--
/**
 * Copyright © Mageplaza. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="admin_authorized" frontName="admin_authorized">
            <module name="Mageplaza_KeepAdminAuthorized"/>
        </route>
    </router>
</config>
