<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddSimpleProductsToCart">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\GraphQl\AddSimpleProductsToCart" />
    </type>
    <type name="Magento\ConfigurableProductGraphQl\Model\Resolver\AddConfigurableProductsToCart">
        <plugin name="uDropship" type="Unirgy\Dropship\Plugin\GraphQl\AddConfigurableProductsToCart" />
    </type>
</config>
