<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <type name="Aheadworks\RewardPoints\Model\Config\Validator\EarnRate">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="website_id" xsi:type="object">Magento\Framework\Validator\NotEmpty</item>
                <item name="customer_group_id" xsi:type="object">Magento\Framework\Validator\NotEmpty</item>
                <item name="lifetime_sales_amount" xsi:type="object">Magento\Framework\Validator\NotEmpty</item>
                <item name="base_amount" xsi:type="object">Magento\Framework\Validator\NotEmpty</item>
                <item name="points" xsi:type="object">Magento\Framework\Validator\NotEmpty</item>
            </argument>
        </arguments>
    </type> -->

    <virtualType name="Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor" type="Aheadworks\RewardPoints\Model\Data\Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="status" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor\Status</item>
                <item name="discardSubsequentRules" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor\DiscardSubsequentRules</item>
                <item name="website" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor\Website</item>
                <item name="customerGroup" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor\CustomerGroup</item>
                <item name="action" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor\Action</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\MetaProcessor" type="Aheadworks\RewardPoints\Model\Data\Processor" />
    <type name="Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\FormDataProvider">
        <arguments>
            <argument name="dataProcessor" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\DataProcessor</argument>
            <argument name="metaProcessor" xsi:type="object">Aheadworks\RewardPoints\Ui\DataProvider\EarnRule\MetaProcessor</argument>
        </arguments>
    </type>

    <virtualType name="Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor" type="Aheadworks\RewardPoints\Model\Data\Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="website" xsi:type="object">Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor\Website</item>
                <item name="customerGroup" xsi:type="object">Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor\CustomerGroup</item>
                <item name="fromToDates" xsi:type="object">Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor\Date</item>
                <item name="condition" xsi:type="object">Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor\Condition</item>
                <item name="action" xsi:type="object">Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor\Action</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\Save">
        <arguments>
            <argument name="postDataProcessor" xsi:type="object">Aheadworks\RewardPoints\Controller\Adminhtml\Earning\Rules\PostDataProcessor</argument>
        </arguments>
    </type>

    <type name="Aheadworks\RewardPoints\Controller\Adminhtml\Transactions\Save">
        <arguments>
            <argument name="createCommand" xsi:type="object">Aheadworks\RewardPoints\Model\Data\Command\Transaction\Create</argument>
        </arguments>
    </type>
</config>
