.products .product-reward-points-earning {
    padding-bottom: 1rem;
}

.product-info-main .product-reward-points-earning {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-reward-points {
    .label.conversion-rate {
        margin-bottom: 10px;
    }

    .field {
        margin-bottom: 25px;
        display: flex;
        align-items: flex-start;

        .label.for-input {
            padding-top: 5px;
        }

        .control {
            position: relative;
            margin-left: 10px;
            margin-right: 10px;
            width: auto !important;
            min-width: 75px;

            .input-text {
                width: auto;
                min-width: 75px;

                &.mage-error {
                    margin-bottom: 32px;
                }
            }

            .mage-error[generated] {
                position: absolute;
                bottom: -24px;
            }
        }
    }
}