<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="ced_houzz_product_save_before" instance="Ced\Houzz\Observer\ProductSaveBefore"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="ced_houzz_shipment" instance="Ced\Houzz\Observer\Shipment"/>
    </event>
    <event name="sales_order_shipment_resource_save_after">
        <observer name="ced_houzz_shipment_resource" instance="Ced\Houzz\Observer\Shipment"/>
    </event>
</config>
